<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/nav.ejs') %> 
  
    <div class="about content"></div>
    <h2>All Us</h2>    
        <p>I am just a little pistachio!</p>
</body>
    <%- include('./partials/footer.ejs') %>
</html>